<h1>HOLAAAAA COMO ESTAS LOKOOOOOO</h1>

<div class="contenedorCards">
    
{{#each productos}}
<div class="card">
    <h2>Name: {{this.title}} </h2>
<h2>Description:  {{this.description}} </h2>
<h2>Code: {{this.code}}  </h2>
</div>
{{/each}}
</div>




